extends masebook.pug

block title
    title Masebook | Dashboard

block scripts
    script.
        function pokeBack() {
            const button = event.target
            const pokee_id = button.dataset.pokee
            console.log("Poking back", pokee_id)
        }
        function hidePoke() {
            const button = event.target
            const poke_id = button.dataset.pokeId
            console.log("Hiding poke", poke_id)
        }

block content
    if pokes
        section
            h3 Pokes
            ul
                each poke in pokes 
                    li #{poke.poker} poked you! 
                        button.poke(onclick="pokeBack()" data-pokee=poke.poker_id) poke
                        button.poke.slap(onclick="pokeBack()" data-pokee=poke.poker_id) slap
                        button.poke.tickle(onclick="pokeBack()" data-pokee=poke.poker_id) tickle
                        button.poke.hide(onclick="hidePoke()" data-poke-id=poke.id) ╳
    section
        h3 Feed
        if feed
            div
                each post in feed
                    article.post
                        img(src="/public/img/placeholder-guy64.png" alt="placeholder" width="32" height="32")
                        h4= post.author
                            span.post-date  • #{post.date}
                        p= post.content
        else
            p Nothing here...