mixin text2paragraphs(text)
    - const paragraphs = text.split(/\r?\n/);
    each para in paragraphs
        p= para

mixin post(p)
    article.post
        img(src="/public/img/placeholder-guy64.png" alt="placeholder" width="32" height="32")
        h4= p.author_name
            span.post-date  • #{p.creation_date}
        .content
            +text2paragraphs(p.contents)

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
            title Masebook
        link(rel='stylesheet', href='/public/css/normalize.css')
        link(rel='stylesheet', href='/public/css/masebook.css')
        block scripts
    body
        div.grid-container
            header.grid-item#page-header
                h1
                    a.unstyled(href="/") Masebook 
            aside.grid-item#sidebar
                ul
                    li
                        a(href="/spaces/new") Create Space
                    li
                        a(href="/directory") Server Directory
                    li
                        a(href="/settings") Settings
                    li
                        a(href="/logout") Log Out
            main.grid-item#content
                div.content
                    if page_alerts
                        each alert in page_alerts
                            p.alert(class=alert.severity)
                                span.alert #{alert.severity}:
                                | #{alert.message}
                    block content
