extends masebook.pug

block title
    title Masebook | #{space.name}

block content
    h1 #{space.name}
    p #{space.description} &nbsp;

    if space.can_view_member_list
        button.link-style(onclick="toggleInfo()") info
        #info.hidden
            h3 Members [#{people.length}]
            ul
                each person in people
                    li
                        a(href="/users/" + person.id) #{person.name}
                        if person.role != 'member'
                            span.role [#{person.role}]
        script.
            const info = document.getElementById('info');
            function toggleInfo() {
                info.classList.toggle('hidden');
            }
    
    if space.can_view_posts || space.can_create_posts
        h2 Posts
    
    if space.can_create_posts
        .spacer
            button.link-style#post_editor_button(onclick="togglePostEditor()") create post
            form#new_post_form.hidden(method='post')
                label(for='post') Posting as #{user.display_name}...
                .post-text-padding
                    textarea.post-text(name='post', wrap='hard', oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"')
                input(type='submit' value='post') 
                input(type='reset', onclick="togglePostEditor()", value='cancel')

        script.
            const postEditor = document.getElementById('new_post_form');
            const postEditorButton = document.getElementById('post_editor_button');
            function togglePostEditor() {
                postEditor.classList.toggle('hidden');
                postEditorButton.classList.toggle('hidden');
            }

    
    if space.can_view_posts
        if posts.length > 0
            each p in posts
                +post(p)
        else
            p no posts to show...