extends masebook.pug

block title
    title Masebook | #{space.settings.title}

block content
    h1 #{space.settings.title}

    if space.settings.description
        p #{space.settings.description} &nbsp;

    if user.space.permissions.view_members
        button.link-style(onclick="show('members')") members
    
    button.link-style(onclick="show('permissions')") permissions
    #permissions.hidden
        h3 Permissions [#{levelToRole[user.space.role]}]
        table#permissions-table
            thead
                tr
                    th action
                    th minimum role
                    th allowed
            tbody
                - for (const [k,v] of Object.entries(space.permissions))
                    tr
                        td=k.replaceAll('_', ' ')
                        td=levelToRole[v]
                        td=user.space.permissions[k] ? 'yes' : 'no'
                
    if user.space.permissions.view_members
        #members.hidden
            h3 Members [#{people.length}]
            ul
                each person in people
                    li
                        a(href="/u/" + person.id) #{person.name}
                        if person.role != 1
                            span.role [#{levelToRole[person.role]}]
    script.
        let previous = null;

        function show(id) {
            const current = document.getElementById(id);
            current.classList.toggle('hidden');

            if (previous === null) {
                previous = current;
            }
            else if (previous === current) {
                previous = null;
            }
            else {
                previous.classList.toggle('hidden');
                previous = current;
            }            
        }
    
    if user.space.permissions.view_posts || user.space.permissions.create_posts
        h2 Posts
    
    if user.space.permissions.create_posts
        .spacer
            button.link-style#post_editor_button(onclick="togglePostEditor()") create post
            form#new_post_form.hidden(method='post')
                label(for='post') Posting as '#{user.shortname}'...
                .post-text-padding
                    textarea.post-text(name='post', wrap='hard', oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"')
                input(type='submit' value='post') 
                input(type='reset', onclick="togglePostEditor()", value='cancel')

        script.
            const postEditor = document.getElementById('new_post_form');
            const postEditorButton = document.getElementById('post_editor_button');
            function togglePostEditor() {
                postEditor.classList.toggle('hidden');
                postEditorButton.classList.toggle('hidden');
            }
    
    if user.space.permissions.view_posts
        if posts.length > 0
            each p in posts
                +post(p)
        else
            p no posts to show...