extends masebook.pug

block title
    - const titleText = space.name ? `Edit Space | ${space.name}` : 'New Space'
    title= titleText

mixin options(default_index)
    - for (const i=0; i<roles.length; i++ )
        const role = roles[i];
        if (i == default_index)
            option(value=i selected)= role
        else
            option(value=i)= role

mixin permissions()
    - permissions = spaceDefaults.permissions;
    - for (const k in permissions)
        - const actionName  = 'p_' + k;
        - const actionDesc = k.replace('_', ' ');
        label(for=actionName)= actionDesc
        select(id=actionName, name=actionName)
            +options(permissions[k])

block content
    h1= titleText
    form#space-editor()
        .form-item.block
            label(for='space_name') Name
            input#space_name(type='text', name='name', minlength='1', maxlength='64', required)
        .form-item.block
            label(for='space_desc') Description
            input#space_desc(type='text', name='description', minlength='1', maxlength='256')
        .form-item
            input#space_visible(type='checkbox', name='visible', value=spaceDefaults.visible)
            label(for='space_visible') Visible to non-members
        .form-item
            input#space_show_in_dir(type='checkbox', name='show_in_dir', value=spaceDefaults.show_in_dir)
            label(for='space_show_in_dir') Show in Server Directory
        
        fieldset.form-item
            legend Permissions
            +permissions()
        
        input.form-item(type='submit', value='submit')
    script.
        const form = document.getElementById('space-editor');
        form.addEventListener('submit', async event => {
            event.preventDefault();
            const data = new FormData(form);

            const reformatted = {
                settings: {},
                permissions: []
            };

            for (const [k,v] of data.entries()) {
                if (k.startsWith('p_')) {
                    reformatted.permissions.push([k.substring(2),v]);
                }
                else {
                    reformatted.settings[k] = v;
                }
            }

            try {
                const fetchOptions = {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(reformatted),
                }
                fetch('/spaces', fetchOptions)
                    .then(res => {
                        if (res.redirected) {
                            window.location.href = res.url;
                        }
                    });
            }
            catch (err) {
                console.log(err.message);
            }
        });