extends masebook.pug

block title
    - const titleText = space ? `Edit Space | ${space.name}` : 'New Space'
    title= titleText

mixin textField(id, label, hint)
    .form-item
        label(for=id)
            span.field-label.block=label
                if attributes.required
                    <span aria-label="required">*</span>
            if hint
                span.field-hint=hint 
            input(type='text', id=id, name=id)&attributes(attributes)

mixin checkBox(id, label, checked)
    .form-item
        label(for=id)
            input(id=id, type='checkbox', name=id, checked=checked, value='true')
            span.field-label=label

mixin permission(id, label, default_role)
    span.field-label=label
    - for (let i=0; i<levelToRole.length; i++)
        input(type='radio', name=id, value=i, checked=(i === default_role))

block content
    h1= titleText
    form#space-editor
        +textField(
            's_title',
            'Title'
        )(minlength=1, maxlength=64, required)
        +textField(
            's_description',
            'Description'
        )
        +textField(
            'shortname',
            'shortname',
            'A unique identifier for this space that will be used in its URL. Can only contain alphanumeric characters and underscores. Must start with a character from the alphabet.'
        )(minlength=3, maxlength=32, required, pattern='^[a-z][a-z0-9_]{2,31}$')

        +checkBox('s_public', 'Public (visible to non-members)', false)
        +checkBox('s_show_in_dir', 'Show in Server Directory', true)
        
        fieldset.form-item#permissions-editor
            legend Permissions
            span.permissions-col-header='role required to...'
            each role in levelToRole
                span.permissions-col-header=role
            +permission('p_view_members', 'view members', 1)
            +permission('p_view_posts', 'view posts', 1)
            +permission('p_create_posts', 'create posts', 1)
            +permission('p_delete_posts', 'delete posts', 2)
            +permission('p_view_comments', 'view comments', 1)
            +permission('p_create_comments', 'view comments', 1)
            +permission('p_delete_comments', 'view comments', 2)
        
        .form-item
            label(for='submit')
                input#submit(type='submit', value='submit')
                span#status.field-label
    script(type='module').
        import { foldSpace } from '/public/js/masebook.js';

        const form = document.getElementById('space-editor');
        const submitButton = document.getElementById('submit');
        const status = document.getElementById('status');
        form.addEventListener('submit', async event => {
            event.preventDefault();
            submitButton.disabled = true;
            const data = new FormData(form);

            // Format data for use by backend
            const space = {
                settings: {},
                permissions: {}
            }

            for (const [k,v] of data.entries()) {
                if (k.startsWith('s_')) {
                    space.settings[k.substring(2)] = v;
                }
                else if (k.startsWith('p_')) {
                    space.permissions[k.substring(2)] = parseInt(v);
                }
                else {
                    space[k] = v;
                }
            }

            // Send data to server
            try {
                const fetchOptions = {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(space),
                }
                
                fetch('/s', fetchOptions)
                    .then(async res => {
                        if (res.ok) {
                            return res.json();
                        }
                        throw new Error(await res.text())
                    })
                    .then(data => {
                        status.classList.add('success');
                        status.textContent = "success!";
                        setTimeout(() => window.location.href = '/s/' + data.shortname, 500);
                    })
                    .catch(err => {
                        status.classList.add('failure');
                        submitButton.disabled = false;
                        const details = JSON.parse(err.message);
                        status.textContent = `ERROR: ${details.status} -- ${details.problems.join('; ')}`;
                    });
            }
            catch (err) {
                console.log(err.message);
            }
        });