extends masebook.pug

block title
    - const titleText = space.name ? `Edit Space | ${space.name}` : 'New Space'
    title= titleText

mixin textField(id, label, hint)
    .form-item
        label(for=id)
            span.field-label.block=label
                if attributes.required
                    <span aria-label="required">*</span>
            if hint
                span.field-hint=hint 
            input(type='text', id=id, name=id)&attributes(attributes)

mixin checkBox(id, label, checked)
    .form-item
        label(for=id)
            input(id=id, type='checkbox', name=id, checked=checked)
            span.field-label=label

mixin permission(id, label, default_role)
    span.field-label=label
    - for (let i=0; i<roles.length; i++)
        input(type='radio', name=id, value=i, checked=(i === default_role))


mixin options(default_index)
    - for (let i=0; i<roles.length; i++ )
        if (i == default_index)
            option(value=i selected)= roles[i]
        else
            option(value=i)= roles[i]

block content
    h1= titleText
    form#space-editor
        +textField(
            's_title',
            'Title'
        )(minlength=1, maxlength=64, required)
        +textField(
            'shortname',
            'Short name',
            'A unique identifier for this space that will be used in its URL. Must contain only alphanumeric characters and underscores. Cannot start with a digit or contain spaces.'
        )(minlength=1, maxlength=32, required)
        +textField(
            's_description',
            'Description'
        )

        +checkBox('s_public', 'Public (visible to non-members)', false)
        +checkBox('s_show_in_dir', 'Show in Server Directory', true)
        
        fieldset.form-item#permissions-editor
            legend Permissions
            span.permissions-col-header='role required to...'
            each role in roles
                span.permissions-col-header=role
            +permission('p_view_members', 'view members', 1)
            +permission('p_view_posts', 'view posts', 1)
            +permission('p_create_posts', 'create posts', 1)
            +permission('p_delete_posts', 'delete posts', 2)
            +permission('p_view_comments', 'view comments', 1)
            +permission('p_create_comments', 'view comments', 1)
            +permission('p_delete_comments', 'view comments', 2)
        
        input.form-item(type='submit', value='submit')
    script.
        import { foldSpace } from '/public/js/masebook.js';

        const form = document.getElementById('space-editor');
        form.addEventListener('submit', async event => {
            event.preventDefault();
            const data = new FormData(form);

            // Format data for use by backend
            const space = foldSpace(data);

            // Send data to server
            try {
                const fetchOptions = {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json"
                    },
                    body: JSON.stringify(space),
                }
                
                fetch('/s', fetchOptions)
                    .then(res => {
                        if (res.redirected) {
                            window.location.href = res.url;
                        }
                    });
            }
            catch (err) {
                console.log(err.message);
            }
        });