extends masebook.pug

block title
    title Masebook | #{profile.username}

block content
    if profile.settings.display_name
        h1 #{profile.settings.display_name}
            span.username  (#{profile.username})
    else
        h1= profile.username
    
    img(src="/public/img/placeholder-guy64.png" alt="placeholder" width="64" height="64")
    if profile.settings.description
        p #{profile.settings.description} &nbsp;
    else
        p no description...